# Amazon SP-API Credentials
AMAZON_APP_ID=
AMAZON_CLIENT_ID=
AMAZON_CLIENT_SECRET=
AMAZON_AUTH_ENDPOINT=https://sellercentral.amazon.com.tr/apps/authorize/consent
AMAZON_TOKEN_ENDPOINT=https://api.amazon.com.tr/auth/o2/token
AMAZON_API_ENDPOINT=https://sellingpartnerapi-eu.amazon.com
AMAZON_TR_MARKETPLACE_ID=A33AVAJ2PDY3WV
